/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bellefair");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#announcements {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 25px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center; }

#footer {
  padding: 4px 0;
  font-size: 15px;
  text-align: right;
  color: orange; }

#home {
  background-image: url("./images/beach-volleyball.jpg");
  width: 100%;
  height: 1000px; }

nav {
  height: 100px;
  font-family: 'Bellefair', serif;
  font-size: 30px; }
  nav img {
    height: 80px;
    padding-top: 10px;
    margin-left: 5px; }
  nav ol {
    padding-top: 35px;
    float: right; }
    nav ol li {
      float: left;
      margin-right: 30px; }
    nav ol .link {
      text-decoration: none;
      color: inherit; }
    nav ol .link:hover {
      color: #6e6e6e;
      border-bottom: 2px solid #646464; }

.products-li {
  overflow: auto;
  outline: 1px solid grey;
  margin: 2% 5%;
  width: 30%;
  height: 400px;
  text-align: center;
  padding: 10px;
  float: left; }
  .products-li p {
    line-height: 2; }

.shop-title {
  font-family: 'Bellefair', serif;
  text-align: center;
  font-size: 50px;
  padding: 20px 0; }

.sand-socks {
  font-family: 'Bellefair', serif;
  text-align: center; }
  .sand-socks p {
    margin-bottom: 20px; }

.sand-socks-title {
  font-size: 35px; }

.vincere-title {
  font-size: 30px; }

#shop-sidebar {
  float: left;
  text-align: center;
  min-height: 1000px;
  width: 250px;
  border-right: 1px solid black; }
  #shop-sidebar p {
    margin: 40px 0; }
  #shop-sidebar .link {
    text-decoration: none;
    font-family: 'Bellefair', serif;
    font-size: 35px;
    color: black; }
  #shop-sidebar .link:hover {
    color: #6e6e6e; }
