.shop-title {
  font-family: 'Bellefair', serif;
  text-align: center;
  font-size: 50px;
  padding: 20px 0;
}

// SAND SOCKS

.sand-socks {
  font-family: 'Bellefair', serif;

  text-align: center;

  p {
    margin-bottom: 20px;
  }
}

.sand-socks-title {
  font-size: 35px;
}

.vincere-title {
  font-size: 30px;
}
